/* IMPOSTAZIONI GENERALI */
body {
  font-size: 1.5rem;
  line-height: 1.8;
  font-family: "Fira Sans", sans-serif;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 2.3rem;
  color: white;
}
h4 {
  font-size: 2.3rem;
}
#p_bianco {
  color: white;
}
#p_immagine {
  text-align: center;
  font-size: 1.4rem;
  color: white;
}
/* HEADER */
.header {
  display: flex;
  padding: 2%;
  width: 100vw;
  justify-content: space-around;
}
.link_navigazione {
  justify-content: space-between;
  flex-wrap: nowrap;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  padding-left: 30px;
}
a {
  color: darkgray;
  text-decoration: none;
}
button {
  color: white;
  margin-left: 20px;
  margin-top: 6%;
  height: 30px;
  display: block;
  background: rgb(108, 193, 226);
  background: linear-gradient(
    90deg,
    rgba(108, 193, 226, 1) 0%,
    rgba(57, 47, 122, 1) 100%
  );
}
nav {
  display: none;
}
input[type="checkbox"] {
  display: none;
}
i {
  color: red;
}
label i {
  color: #e42424;
}
input#showMenu[type="checkbox"]:checked ~ nav ul li {
  background-color: black;
}

/* MAIN */
#banner {
  height: 420px;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
}
#content {
  display: flex;
  flex-direction: column;
}
.allineato {
  text-align: center;
}
#sezioneblu {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 78);
}
.btnscrivici {
  width: 100px;
  margin: auto;
}
#emoticon1 {
  display: flex;
  flex-direction: column;
}
#emoticon2 {
  display: flex;
  flex-direction: column;
}
#emoticon3 {
  display: flex;
  flex-direction: column;
}
#emo {
  color: red;
  margin: auto;
}
dd {
  margin: auto;
}
dt {
  margin: auto;
}
.TitEmo {
  color: black;
  text-align: center;
  display: inline;
}
#notebook {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
}
/* FOOTER */
#footer {
  display: flex;
  flex-direction: column;
  background-color: darkgray;
  text-align: center;
  padding: 5%;
  margin-bottom: 0%;
}
#indirizzo {
  display: block;
  padding: 5%;
  margin-top: 0%;
  background-color: darkgray;
}
/* RESPONSIVE */
@media screen and (min-width: 700px) {
  nav {
    display: block;
  }
  .pallini {
    display: none;
  }
  #content {
    flex-direction: row;
  }
  #footer {
    flex-direction: row;
  }
}
